$color-light-mode: #ffffff;
$color-dark-mode: #424242;

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $color-light-mode;
  color: #000000;

  @media (prefers-color-scheme: dark) {
    background-color: $color-dark-mode;
    color: #ffffff;
  }

}

